.contacts {
    background-color: #f3f6f6;
}

.title {
    font-weight: 700;
    font-size: 30px;
    color: #444b58;
    margin-bottom: 60px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.mod {
    cursor: pointer;
    padding: 2px 6px;
    background-color: white;
    border-radius: 100%;
    transition: box-shadow .2s ease;
}

.mod:hover {
    box-shadow: 7px 7px 9px;
}

.address_title {
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #b2b5bb;
    margin-bottom: 40px;
}

.phone {
    font-weight: 400;
    font-size: 30px;
    line-height: 140%;
    color: #444b58;
    margin-bottom: 10px;
}

.city {
    font-size: 18px;
    line-height: 140%;
    color: #444b58;
    margin-bottom: 40px;
}

.list {
    display: flex;
    gap: 20px;
}

.address {
    position: relative;
}

.hover {
    width: 466px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 4px 8px 20px 0 rgba(0, 13, 84, 0.2);
    position: absolute;
    top: -109px;
    right: -281px;
    opacity: 0;
    transition: opacity .4s ease, transform .4s ease;
    transform: translateY(-10px);
}

.show {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 780px) {
    .title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .address_title {
        font-size: 10px;
        margin-bottom: 10px;
    }

    .phone {
        font-size: 20px;
    }

    .city {
        font-size: 14px;
        margin-bottom: 20px;
    }
    
    .list {
        gap: 0;
    }
}